.nav-tabs .nav-link {
    cursor: pointer;
  }
.settingButton:hover  {
    background-color: #dcdcdc;
}

.pgnloadersection {
    margin-top:10px;
    color:#555555;
}
.pgnloaderfirstsection {
    margin-top:0px;
    color:#555555;
}

.navMove {
    display:flex;
    justify-content:center;
    align-items:center;
}


.navSection {
    padding:0px;
}
.navCol {
    padding-left:0px;
    padding-right:0px;
}

.borderRadius {
    border-radius:0.25rem;
}

.selectedMove {
    background-color:rgba(173, 216, 230,0.4);
}

.navCol:hover  {
    background-color: #dcdcdc;
    cursor: pointer;
}

.moveRow:hover  {
    background-color: #dcdcdc;
    cursor: pointer;
}


.smallCol {
    width: 2rem;
}

.whiteMove {
    background-color: #fff;
    box-shadow: 0 -5px 7px rgba(0,0,0,0.1) inset;
    color:#4d4d4d;
}
.grayMove {
    background-color: #a0a0a0;
    box-shadow: 0 5px 7px rgba(255,255,255,0.2) inset;
    color:#fff
}
.blackMove {
    background-color: #555;
    box-shadow: 0 5px 7px rgba(255,255,255,0.2) inset;
    color:#ddd;
}

.infoMessage {
    color:gray;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}

.navLinkButton {
    color:#202529;
    cursor:pointer;
}

.fullWidth {
    width:100%
}

.mainContainer {
    margin-top:15px;
    max-width:1536px;
}

.siteimage {
    height:24px;
}

.sitelabel {
    margin-top:0px;
    margin-bottom:0px;
}
.whitelabel {
    margin-top:0px;
    margin-bottom:-5px;
}
.blacklabel {
    margin-top:-5px;
    margin-bottom:-5px;
}

.bootNavColor {
    color:rgba(0,0,0,0.5)
}

.acknowledgement{
    line-height: 0.80;
}
.greyText {
    color:grey;
}

.smallText {
    font-size:0.75rem;
}
.nomargin {
    margin:0px
}
.topNegativeMargin {
    margin-top:-10px;
}
.bottomNegativeMargin {
    margin-bottom:-10px;
}
.topBottomNegativeMargin {
    margin-top:-10px;
    margin-bottom:-10px;
}

.sliderCustom {
    width:50%;
    margin-left:30px;
}

.pointerExternalLink {
    cursor: context-menu;
}

.performanceRatingRow {
    padding-top:10px;
    padding-bottom:10px;
}

.performanceHeader {
    background-color:#f7f7f7;
}

.lowOpacity {
    opacity: 0.6;
}

.linkStyle{
    cursor:pointer;
    color:#007bff;
    text-decoration:none;
}

.rootView {
    margin-bottom:60px
}
@media screen and (max-width: 767px) {
    .paddingTop {
        padding-top:15px
    }
}
.fenField {
    width:100%;
    font-size:10px;
}
.fenDiv {
    padding-top:10px;
}

.playernameField {
    width:75%
}
.urlField {
    width:100%
}
.mainButton {
    width:75%
}

.MuiExpansionPanelDetails-root {
    display: block;
}

.styledNumbers {
    padding-right:10px
}

.dropzonetext {
    font-size:16px;
    color:#767676;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:0px;
    margin-bottom:0px;
}

.previewChip {
    margin-left:10px;
}

.dropzone {
    background-color:#FBFBFB;
    max-height:450px;
    min-height:125px;
    overflow:hidden;
}

.sourceIcon {
    opacity:0.6;
}

.sourceName {
    vertical-align: text-top;
}

.textCenter {
    text-align: center;
}


.profilePicture {
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 10px;
    float:left;
}

.dividerMargin {
    margin-top:5px;
    margin-bottom:5px;
}
.singlePadding {
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    padding-left:1rem;
    padding-right:1rem;

}
.smallBottomMargin {
    margin-bottom:0.25rem;
}
.bottomMargin {
    margin-bottom:1rem;
}

.discordIcon {
    color:rgb(121,136,215);
    font-size:21px;
    margin-bottom:-3px;
}

.feedbackIcon {
    font-size:21px;
    margin-bottom:-2px;
}
.moreIcon {
    font-size:21px;
    margin-right:3px;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.bigSpinner {
    width: 3rem;
    height: 3rem;
    opacity: 0.5;
}

.noBottomMargin {
    margin-bottom:0px;
}
.greenColor{
    color:green
}
.redColor{
    color:red
}
.leftMargin2 {
    margin-left:2px;
}
.leftMargin4 {
    margin-left:4px;
}